@using CodeFirst_Project1.Models
@{ 
    User m = Session["user"] as User;
}
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link href="~/Areas/AdminPanel/Assets/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Areas/AdminPanel/Assets/css/dashboard.css" rel="stylesheet" />
    <link href="~/Areas/AdminPanel/Assets/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>


    <link rel="icon" href="~/Areas/AdminPaneli/Assets/Images/favicon.png">
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="@Url.Action("Index", "Home")">Yenilik Evim - Admin</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-white" href="#">xxxxxxx@*@m.UserName*@</a>
            <a class="p-2 text-white" href="@Url.Action("SignOut", "Login")">Çıkış Yap</a>
        </nav>
        @*<ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="@Url.Action("SignOut", "Login")">Çıkış Yap</a>
            </li>
        </ul>*@
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("Index", "Home")">
                                <i class="fa fa-home"></i>&nbsp;&nbsp;
                                Anasayfa <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <i class="fas fa-user"></i>&nbsp;&nbsp;
                                Kullanıcılar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Category")">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;
                                Kategoriler
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                Integrations
                            </a>
                        </li>
                    </ul>

                    @*<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li>
                    </ul>*@
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                @RenderBody()
            </main>
        </div>
    </div>


    <script src="~/Areas/AdminPanel/Assets/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Areas/AdminPanel/Assets/js/bootstrap.min.js"></script>
</body>
</html>
